@media screen and (max-width: 1215px)
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
@media screen and (max-width: 1065px)
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
@media screen and (max-width: 570px)
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.64rem
  .hero
    &__scroll-down
      display: none
    &__content
      max-width: 22.86rem
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 22.86rem
      margin-bottom: 1.85rem
@media screen and (max-width: 375px)
  .container
    width: 90%
  .header
    padding: 1.607rem 0
  .hero
    padding-top: 7.543rem 
    background: $dark url('../img/mobile-bg.jpg') bottom
    height: 530px
    &__content
      width: 90%
    &__text
      width: 321px
      font-size: 18px
      line-height: 135.84%
      margin-bottom: 35px
    &__button
      min-width: 28.186rem
      font-size: 13px
      line-height: 15px
      margin-bottom: 2.05rem
  .logo
    margin: 0
  .title
    font-size: 23px
    line-height: 132.83%
@media screen and (max-height: 625px)
  .hero
    &__scroll-down
      display: none