*, *:before, *:after
  box-sizing: border-box
html
  font-size: 14px
body
  font-family: 'Futura Book', sans-serif
  font-size: 1rem
img 
  max-width: 100%
.section
  padding: 60px 0
  &-title
    text-align: center
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
    &__heading
      font-weight: normal
      font-size: 1.428rem
    &__image
      display: flex
      justify-content: center
      align-items: center
      &::before, &::after
        content: ''
        width: 32px
        height: 2px
        background-color: $primary
        margin: 0 10px
  &-description
    display: flex
    justify-content: center
    align-items: center
    &__text
      max-width: 52.928rem
      font-family: 'Futura Book', sans-serif
      text-transform: none
      font-size: 1.428rem
      line-height: 1.928rem
.button-up
  background: #fff url(/img/up.png) center center no-repeat
  width: 32px
  height: 32px
  color: #fff			
  padding: 15px
  margin: 100px 20px 20px 20px
  &:hover
    cursor: pointer